@charset "utf-8";
/* ---------------------------------reset---------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    color: #333;
    font-family: 'Nanum Gothic', 'Dotum', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    vertical-align: top;
}
address{
    font-style: normal;
}

/*---------------------------------- 기본 Class ---------------------------------------- */

.clearFix:after{
    display: block;
    content: "";
    clear: both;
}
.w1300{
    width: 1300px;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 36px;
    padding-top: 80px;
    font-weight: bold;
}
h3{
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 50px;
}
h5{
    font-size: 36px;
    color: #999;
    font-weight: lighter;
    line-height: 140%;
    display: block;
}
h6{
    font-size: 22px;
    font-style: italic;
}
p{
    line-height: 160%;
}
/* ---------------------------------헤더-------------------------------- */

.hbox{
    position: relative;
    width: 100%;
    min-width: 1300px;
    height: 870px;
    overflow: hidden;
}
video{
    position: absolute;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    transition: all 0.5s;
}
header:hover .mainNav > ul > li > a{
    color: #333;
}
header:hover .lnb > ul > li > a{
    color: #333;
}
/* header:hover .subNav > li > a{
    color: #333;
} */


.hd-up{
    top: -70px;
}



.lnb{
    height: 20px;
}
.lnb ul{
    float: right;
}
.lnb ul li{
    float: left;
    width: 80px;
}
.lnb ul li a{
    text-align: center;
    line-height: 20px;
    color: #fff;
}


.logo{
    position: relative;
    float: left;
}
.logo h1{
    position: absolute;
}
.logoOff{
    display: none;
}


.mainNav{
    float: right;
}


.mainNav > ul > li{
    float: left;
}
.mainNav > ul > li > a{
    display: block;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #fff;
}



.subNav{
    position: absolute;
    display: none;
    z-index: 1000;
    margin-top: 10px;
}
.subNav li a{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}


.subNav li::after{
    position: absolute;
    content: "";
    display: block;
    border-bottom: 2px solid #333;
    transition: all 250ms ease-out ;
    left: 50%;
    width: 0%;
    margin-bottom: 5px;
}
.subNav li:hover::after{
    transition: all 250ms ease-out;
    left: 25%;
    width: 50%;
}


.subBg{
    position: absolute;
    width: 100%;
    height: 280px;
    left: 0;
    visibility: hidden;
    transition: 0.5s;
}






/* -------------------------------슬라이드------------------------------ */

.slideBg{
    position: absolute;
    width: 100%;
}


.slide{
    height: 720px;
    margin-top: 110px;
}
.slide ul li{
    position: absolute;
    display: none;
}
.slide ul li:first-child{
    display: block;
}

/* -----------------------------------컨텐츠 상단부분----------------------------- */

section{
    padding-bottom: 50px;
}



.top{
    background: #fff;
}


.tab .tabBtn li{
    float: left;
    width: 260px;
}
.tab .tabBtn li a{
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    box-sizing: border-box;
}
.tab .tabBtn li .on{
    background: rgb(96, 121, 100);
    transition: 0.5s;
    color: #fff;
}


.tab .tabCon ul{
    display: none;
}
.tab .tabCon ul:first-child{
    display: block;
}


.tab .tabCon ul li{
    float: left;
}
.tabCon ul li:last-child{
    padding: 20px;
}
.tabCon ul li p{
    margin-top: 30px;
    padding-left: 20px;
}


#sign{
    float: right;
}




/* -----------------------------------컨텐츠 중단부분---------------------------------------- */




.mid{
    background: #eee;
}


.mCon > ul{
    float: left;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: none;
    transition: 0.5s;
}
.mCon > ul:hover{
    box-shadow: 2px 3px 7px 2px #666;
    transform: scale(1.01);
    z-index: 20;
}
.mCon > ul:last-child{
    margin-right: 0;
}
.mCon > ul > li:last-child{
    background: #fff;
    width: 420px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
}
.mCon > ul > li > a{
    display: block;
}


.mCon ul li p{
    margin-top: 15px;
}

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ a 태그 적용되게 바꿔야함--------------- */
.mCon_1{
    position: absolute;
    top: 700px;
    left: -300px;
    background: #fff;
    width: 1000px;
    height: 180px;
    opacity: 15%;
    transform: rotate(45deg);
}
.mCon_1 > a{
    display: block;
}



/* ------------------------------------------------컨텐츠 하단부분------------------------------------------------- */




.facilties > div{
    float: left;
    margin-right: 13px;
}
.facilties > div:last-child{
    margin-right: 0;
}


.bBox .bCon{
    position: relative;
}
.bBox .bCon div{
    position: absolute;
    top: 0;
}


.bBox .bCon .bText a{
    padding-left: 315px;
    transition: 0.7s;
}
.bBox .bCon .bText a:hover{
    padding-left: 0px;
}
.bBox .bCon .bText a div{
    width: 250px;
    height: 700px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
}
.bBox .bCon .bText a div h4{
    font-size: 22px;
    border-bottom: 3px solid #fff;
    line-height: 180%;
}
.bBox .bCon .bText a div p{
    margin-top: 20px;
    line-height: 160%;
}


.bText{
    width: 315px;
    overflow: hidden;
}
.bText a{
    display: block;
    width: 630px;
    height: 700px;
}


/* ----------------------------------------------------이벤트----------------------------------------------- */


.event{
    background: #eee;
}

.eBox{
    background-image: url(../images/eventbg.png);
}

.eCon{
    position: relative;
    width: 1300px;
    height: 700px;
    overflow: hidden;
} 
.eCon > div{
    position: absolute;
    overflow: hidden;
    width: 1300px;
    height: 700px;
}

.e1{
    background-image: url(../images/event01.png);
    width: 1300px;
    height: 700px;
}
.ea{
    width: 100px;
    height: 100px;
    display: block;
    border: 7px solid #fff;
    border-radius: 50%;
    margin-left: 210px;
    box-sizing: border-box;
    margin-top: 300px;
    transition: 0.5s;
    overflow: hidden;
}

.e2{
    background-image: url(../images/event02.png);
    width: 1300px;
    height: 700px;
}
.eb{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 470px;
    margin-top: 300px;
    box-sizing: border-box;
    border: 7px solid #fff;
    border-radius: 50%;
    transition: 250ms;
    overflow: hidden;
    transition: 0.5s;
}

.e3{
    background-image: url(../images/event03.png);
    width: 1300px;
    height: 700px;
}
.ec{
    width: 100px;
    height: 100px;
    display: block;
    border: 7px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 300px;
    margin-left: 730px;
    transition: 250ms;
    overflow: hidden;
    transition: 0.5s;
}

.e4{
    background-image: url(../images/event04.png);
    width: 1300px;
    height: 700px;
}
.ed{
    width: 100px;
    height: 100px;
    display: block;
    border: 7px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 300px;
    margin-left: 990px;
    transition: 250ms;
    overflow: hidden;
    transition: 0.5s;
}

.eBox{
    position: relative;
}

.eBtn{
    position: absolute;
    top: 300px;
}
.eBtn > div{
    float: left;
}
.eBtn > div:first-child{
    margin-left: 210px;
}
.eBtn > div:nth-child(2){
    margin-left: 160px;
}
.eBtn > div:nth-child(3){
    margin-left: 160px;
}
.eBtn > div:last-child{
    margin-left: 160px;
}
.eBtn div a{
    text-indent: -9999px;
}
.eBtn > div > a{
    width: 100px;
    height: 100px;
    background: none;
    border-radius: 50%;
    display: block;
}
/* ----------------------------------------------------사이드바--------------------------------------------- */



.side{
    position: fixed;
    width: 200px;
    right: -200px;
    top: 0px;
    z-index: 9999999;
    transition: 0.5s;
}

/* .sideBtn{
    position: absolute;
    left: -60px;
    top: 40%;
    background: #fff;
}
.sideBtn div{
    position: absolute;
    display: none;
}
.sideBtn .visi{
    display: block;
}
.sbtnOff{
    position: absolute;
    left: -60px;
    background: #fff;
} */

.sMenu{
    position: absolute;
    left: -45px;
    width: 50px;
    height: 100vh;
}

.sMenu a{
    position: absolute;
    font-size: 30px;
    display: block;
    color: #fff;
    background: rgba(0,0,0,0.3);
    transform: rotate(90deg);
    top: 45%;
    left: -55px;
    z-index: 50;
}

.sideCon{
    width: 200px;
    height: 100vh;
    z-index: 5000;
}
.sideCon a{
    color: #fff;
}
.sideCon .myinfo{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.sideCon .sideNav li{
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.sideCon a{
    display: block;
    font-weight: bold;
}
.sideCon a:hover{
    background: rgba(255, 255, 255, 0.7);
    color: #333;
}

.sideBan li{
    float: left;
    width: 66.5px;
    text-align: center;
    height: 77px;
    line-height: 77px;
}
.sideBan li:last-child{
    margin-right: 0px;
}
.sideBan li a{
    display: block;
}





/* -------------------------------------------------Footer------------------------------------------------------- */


footer{
    width: 100%;
    background: rgb(96, 121, 100);
    min-width: 1300px;
    padding: 30px 50px 80px;
    box-sizing: border-box;
    color: #eee;
}
footer a{
    color: #eee;
}
footer > ul{
    width: 1300px
}
footer > ul > li{
    float: left;
    margin-left: 150px;
}
footer > ul > li:first-child{
    margin-left: 0;
}
.btnInfo{
    line-height: 140%;
}
.btnInfo > address{
    border-bottom: 2px solid #999;
}
.btnNav{
    margin-top: 30px;
    line-height: 140%;
}
.btnD{
    margin-top: 30px;
    line-height: 140%;
}
.btnNow > ul > li{
    float: left;
    margin-top: 30px;
}
